{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">
{% endblock meta %}

{% block content %}

<div class = "login">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-app-name text-center">To-do-list</h1>
            <h2 class="card-title text-center">Login</h2>
        </div>
        <div class="card-text">

        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td>
                        <div class="d-grid gap-2">
                        <input class="btn login_btn" type="submit" value="Login">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    </div>
    </div>
</div>

{% endblock content %}