{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">

{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <div class="card register-form">


    <h1 class="card-title text-center">Register</h1> <br>

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td>
                        <input class="btn login_btn" type="submit" name="submit" value="Daftar"/>
                        <p>Sudah punya akun? <a href="{% url 'todolist:login' %}">login</a></p> 
                        
                    </td>  
                </tr>  
            </table>
             
        </form><br>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
</div>
</div>  

{% endblock content %}