{% extends 'base.html' %}
{% block meta %}
<title>To-do list</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">

{% endblock meta %}
{% block content %}


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <h1 class="navbar-brand">Hello, {{user}}</h1>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="logout">
          <a href="{% url 'todolist:logout' %}"><button class="btn">Logout</button></a>
        </li>
        <li>
          <a href="{% url 'todolist:create-new-task'%}"><button class="btn">Create New Task</button></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
  <h2>Date : {{date}}</h2>
  <div class="row g-3">
    {% for task in list_task %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">{{task.date}}</p>
                <p class="card-text">{{task.description}}</p>
                {% if not task.is_finished %}
                <p class="card-text">Status : Incomplete</p>
                {% else %}
                <p class="card-text">Status: Complete</p>
                {% endif %}
                <p><a href="{% url 'todolist:update-status' task.id %}">
                  <button class="btn">Update</button>
                <a href="{% url 'todolist:delete-task' task.id %}">
        
                  <button type="button" class="btn btn-delete" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
        </svg>
                    Delete
                  </button>
                </a>
                </p>
                
        </div>
    </div>
    {% endfor%}
  </div>

        </a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}