{% extends 'base.html' %}
{% block meta %}
<title>To-do list</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<script>
        $(document).ready(function(){
            $.getJSON("{% url 'todolist:show_json' %}", function(task){
                $.each(task, function(index,value){
                console.log(value)
                    $("#todolist_container").append(
                    `<div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <h5 class="card-title">${value.fields.title}</h5>
                                <p class="card-text">${value.fields.date}.</p>
                                <p class="card-text">${value.fields.description}.</p>
                                <p class="card-text">Finished : ${value.fields.is_finished}.</p>
                            </div>
                        
                            </div>`    
                    )
                })
        })
        $("#form_todolist").on("submit",function(e) {
        e.preventDefault() 
        let date = $("#date").val();
        let title = $("#title").val();
        let description = $("#description").val();
        $.ajax({
          method: "POST",
          url: "/todolist/add/",
          data: {"date":date, "title":title, "description":description},
        }).done(function(resp) {
          console.log(resp)
          $("#todolist_container").append(
            `<div class="col-12 col-md-6 col-lg-4">
                            <div class="card">

                                <h5 class="card-title">${resp.title}</h5>
                                <p class="card-text">${resp.date}.</p>
                                <p class="card-text">${resp.description}.</p>
                                <p class="card-text">Finished : ${resp.is_finished}.</p>
                            </div>
                        </div>`    
          )
          $("#exampleModal").modal("toggle")
        });
    })
    })

</script>
{% endblock meta %}
{% block content %}

<!--navbar-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand">Hello, {{user}}</h1>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="container">
                <a href="{% url 'todolist:logout' %}"><button class="btn">Logout</button></a>
              </div>
          </li>
          <li class="nav-item">
            <div class="container">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Create New Task</button>
            </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>
<!---->
<h2>Date : {{date}}</h2>

<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_todolist" action = "/todolist/add/">
            {% csrf_token%}
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" value="submit" class="btn btn-primary" id="submit_btn">Create</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!----> 

  <div class="row g-3" id = "todolist_container">

  </div>
{% endblock content %}

